@media (max-width: 991.98px) { 

    #screensize{
        background-color: orange;

        &:after {
            content:"M (< 992px) ";
        }

    }
    .divactivite2{
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
        background-color: white;
        margin-top: -220px; //align nav body
    }    

 };