@media (max-width: 767.98px) { 

    #screensize{
        background-color: green;

        &:after {
            content:"S (< 768px) ";
        }

    }

    .divactivite2{
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
        background-color: white;
        margin-top: -170px; //align nav body
    }    

 };