@media (max-width: 575.98px) { 

    #screensize{
        background-color: cyan;

        &:after {
            content:"XS (< 576px) ";
        }

    }
    .divactivite2{
        clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
        background-color: white;
        margin-top: -220px; //align nav body
    }    
};