

.form-connection{
    input{
        width: 31%;
        &:first-child{
            margin-right: 3px;
        }
    }
    .seconnecter{
        font-size: 0.88rem;
        position: absolute;
        right: 15px;
        bottom: 15px;
        background-color: rgb(247, 247, 247);
        color: black;
        border-radius: 0%;
        &:hover{
            background-color: #28a745 !important;
            color: white;
            border: 1px solid #28a745;
        }
    
    
    } //fin inscription 
}