.imgevent {
    background-color: bisque;
    height: 50vh;
    padding-left: 0;

}

.txtevent {
    background-color: rgb(247, 197, 136);
    height: 50vh;

}

.catevent {
    background-color: red;
    color : white;
    padding: 10px 30px ;
    width: 30%;
    

}