.imgevent {
  background-color: bisque;
  height: 50vh;
  padding-left: 0;
}

.txtevent {
  background-color: #f7c588;
  height: 50vh;
}

.catevent {
  background-color: red;
  color: white;
  padding: 10px 30px;
  width: 30%;
}

html {
  font-size: 100%;
}

body {
  background-image: url(../img/final-background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.activite {
  margin: auto;
  font-family: 'Segoe', sans-serif;
  color: #3d3d3d;
  text-align: center;
  padding-top: 50px;
  font-size: 2rem;
}

.bi-nav-body {
  background-color: rgba(255, 255, 255, 0.397);
}

.bi-nav-body .divactivite1 {
  margin-bottom: 70px;
  padding-bottom: 200px;
}

.bi-nav-body .divactivite1 .row {
  margin-top: 60px;
}

.bi-nav-body .divactivite1 .row .card-entier.pedagogique .cartes .card-left h2 {
  background-color: #1393CC;
  color: white;
}

.bi-nav-body .divactivite1 .row .card-entier.technique .cartes .card-left h2 {
  background-color: #956187;
}

.bi-nav-body .divactivite1 .row .card-entier.paramedical .cartes .card-left h2 {
  background-color: #DB1B0E;
}

.bi-nav-body .divactivite1 .row .card-entier.artsappliques .cartes .card-left h2 {
  background-color: #74B626;
}

.bi-nav-body .divactivite1 .row .card-entier.economiquesocial .cartes .card-left h2 {
  background-color: #F59500;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes {
  min-height: 275px;
  margin-right: 0px;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-left {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  min-height: 250px;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-left img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-left h2 {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #956187;
  color: white;
  font-size: 1.0rem;
  height: 30px;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  min-width: 170px;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-right {
  position: relative;
  background-color: #f7f7f7;
  padding: 10px;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-right h1 {
  font-size: 1.35rem;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-right h4 {
  font-size: 1.05rem;
  font-weight: 400;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-right .coeur {
  position: absolute;
  right: 10px;
  top: 15px;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-right .coeur img {
  width: 35px;
  height: auto;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-right p {
  font-size: 0.93rem;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-right span {
  margin-top: 40px;
  font-size: 0.88rem;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-right h5 {
  font-size: 0.88rem;
  padding-top: 10px;
  font-weight: 400;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-right .inscription {
  font-size: 0.88rem;
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #f7f7f7;
  color: black;
  border-radius: 0%;
}

.bi-nav-body .divactivite1 .row .card-entier .cartes .card-right .inscription:hover {
  background-color: #28a745 !important;
  color: white;
  border: 1px solid #28a745;
}

.bi-nav-body .divactivite1 .row .toutevenement {
  margin: auto;
  margin-top: 50px;
}

.bi-nav-body .divactivite1 .row .toutevenement a {
  text-align: center;
  font-size: 1rem;
  background-color: white;
  color: black;
  border-radius: 0%;
}

.bi-nav-body .divactivite1 .row .toutevenement a:hover {
  background-color: #28a745 !important;
  color: white;
  border: 1px solid #28a745;
}

.divactivite2 {
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  background-color: white;
  margin-top: -170px;
  font-size: 2rem;
}

.divactivite2 .container {
  padding-bottom: 100px;
}

.divactivite2 .container .row {
  margin-top: 60px;
}

.divactivite2 .container .row .activite {
  margin-top: 150px;
}

.divactivite2 .container .row .card-entier.pedagogique .cartes .card-left h2 {
  background-color: #1393CC;
  color: white;
}

.divactivite2 .container .row .card-entier.technique .cartes .card-left h2 {
  background-color: #956187;
}

.divactivite2 .container .row .card-entier.paramedical .cartes .card-left h2 {
  background-color: #DB1B0E;
}

.divactivite2 .container .row .card-entier.artsappliques .cartes .card-left h2 {
  background-color: #74B626;
}

.divactivite2 .container .row .card-entier.economiquesocial .cartes .card-left h2 {
  background-color: #F59500;
}

.divactivite2 .container .row .card-entier .cartes {
  min-height: 275px;
  margin-right: 0px;
}

.divactivite2 .container .row .card-entier .cartes .card-left {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  min-height: 250px;
}

.divactivite2 .container .row .card-entier .cartes .card-left img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.divactivite2 .container .row .card-entier .cartes .card-left h2 {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #956187;
  color: white;
  font-size: 1rem;
  height: 30px;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  min-width: 170px;
}

.divactivite2 .container .row .card-entier .cartes .card-right {
  position: relative;
  background-color: #f7f7f7;
  padding: 10px;
}

.divactivite2 .container .row .card-entier .cartes .card-right h1 {
  font-size: 1.35rem;
}

.divactivite2 .container .row .card-entier .cartes .card-right h4 {
  font-size: 1.05rem;
  font-weight: 400;
}

.divactivite2 .container .row .card-entier .cartes .card-right .coeur {
  position: absolute;
  right: 10px;
  top: 15px;
}

.divactivite2 .container .row .card-entier .cartes .card-right .coeur img {
  width: 35px;
  height: auto;
}

.divactivite2 .container .row .card-entier .cartes .card-right p {
  font-size: 0.93rem;
}

.divactivite2 .container .row .card-entier .cartes .card-right span {
  margin-top: 40px;
  font-size: 0.88rem;
}

.divactivite2 .container .row .card-entier .cartes .card-right h5 {
  font-size: 0.88rem;
  padding-top: 10px;
  font-weight: 400;
}

.divactivite2 .container .row .card-entier .cartes .card-right .inscription {
  font-size: 0.88rem;
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #f7f7f7;
  color: black;
  border-radius: 0%;
}

.divactivite2 .container .row .card-entier .cartes .card-right .inscription:hover {
  background-color: #28a745 !important;
  color: white;
  border: 1px solid #28a745;
}

.divactivite2 .container .toutevenement {
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.divactivite2 .container .toutevenement a {
  text-align: center;
  font-size: 1rem;
  background-color: white;
  color: black;
  border-radius: 0%;
}

.divactivite2 .container .toutevenement a:hover {
  background-color: #28a745 !important;
  color: white;
  border: 1px solid #28a745;
}

.footer {
  background-color: #505050;
  margin-top: -50px;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

.footer .container {
  padding-top: 90px;
  color: white;
  font-size: 0.9rem;
  padding-bottom: 20px;
}

.footer .container .row .col-lg-3 a {
  color: white !important;
  text-decoration: none;
}

.footer .container .row .col-lg-3 a:hover {
  color: #2692bd !important;
}

.footer .container .row .col-lg-3 h2 {
  font-size: 1.2rem;
}

.footer .container .row .col-lg-3 img {
  width: 60%;
  height: auto;
}

.a-propos {
  background-color: white;
}

.a-propos .container {
  padding-bottom: 200px;
}

.a-propos .container .row {
  margin-top: 60px;
  min-height: 500px;
}

.a-propos .container .row .titreexplication {
  margin: auto;
  font-family: 'Segoe', sans-serif;
  color: #3d3d3d;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.a-propos .container .row .explication {
  font-family: sans-serif;
  color: black;
}

.a-propos .container .row .lienliste {
  margin: auto;
}

.a-propos .container .row .lienliste .intervenant {
  margin-top: 60px;
  text-align: center;
  font-size: 18px;
  background-color: white;
  font-family: 'Segoe', sans-serif;
  color: #575757;
  border-radius: 0%;
}

.a-propos .container .row .lienliste .intervenant:hover {
  background-color: #28a745 !important;
  color: white;
  border: 1px solid #28a745;
}

.a-propos .container .row .lienliste .intervenant img {
  width: 15%;
  height: auto;
}

.filtre {
  text-align: center;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: white;
  border: 1px solid rgba(100, 100, 100, 0.192);
  color: black;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #535353 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid #646464;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  border: 1px solid rgba(68, 68, 68, 0.13);
  color: black;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.082);
}

.custom-select {
  padding: 0;
  background: none;
  border: none;
}

.select-selected {
  color: black;
}

.filtre-tout {
  width: 100%;
  margin: auto;
  background-color: rgba(219, 219, 219, 0);
  padding: 25px 0px;
  border-radius: 10px;
  margin-top: -50px;
}

.filtre-tout .collapse, .filtre-tout .collapsing {
  width: 90%;
  margin: auto;
}

.filtre-tout .collapse .card-body .tout, .filtre-tout .collapsing .card-body .tout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: center;
}

.filtre-tout .collapse .card-body .tout span, .filtre-tout .collapsing .card-body .tout span {
  margin-top: 8px;
}

#screensize {
  width: 200px;
  height: 27px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: blue;
  color: white;
  text-align: center;
}

#screensize:after {
  content: "XL (> 1200px)";
}

@media (max-width: 1199.98px) {
  #screensize {
    background-color: #00d300;
  }
  #screensize:after {
    content: "L (< 1200px) ";
  }
}

@media (max-width: 991.98px) {
  #screensize {
    background-color: orange;
  }
  #screensize:after {
    content: "M (< 992px) ";
  }
  .divactivite2 {
    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
    background-color: white;
    margin-top: -220px;
  }
}

@media (max-width: 767.98px) {
  #screensize {
    background-color: green;
  }
  #screensize:after {
    content: "S (< 768px) ";
  }
  .divactivite2 {
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    background-color: white;
    margin-top: -170px;
  }
}

@media (max-width: 575.98px) {
  #screensize {
    background-color: cyan;
  }
  #screensize:after {
    content: "XS (< 576px) ";
  }
  .divactivite2 {
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
    background-color: white;
    margin-top: -220px;
  }
}
/*# sourceMappingURL=style.css.map */