.imgevent {
    background-color: bisque;
    height: 50vh;
    padding: 0;
    img {
        width: 100%;
        height: auto;
    }

}

.txtevent {
    background-color: rgb(247, 197, 136);
    height: 50vh;
    img {
        
            width: 35px;
            height: auto;
          
    }

}

.catevent {
    background-color: red;
    color : white;
    padding: 10px 30px ;
    width: 30%;
  
    
}
.card-entier{
    .cartes{

        .carte{

            }
            .card-left{
                position: relative;
                padding-right: 0;
                img{
                    width: 100%;
                    height: auto;

                }
                h2{
                    position: absolute;
                    top: 0;
                    left:15px;
                    background-color: rgb(60, 184, 255);
                    color: white;
                    font-size: 15px;
                    height: 30px; 
                    padding-top: 5px;
                    padding-left:7px;
                    padding-right: 7px;    
                }
            
            }
            .card-right{
                padding: 10px;
                position: relative;
                background-color: rgb(247, 247, 247);
                border-right: 3px solid white;
                h1{
                    font-size: 22px;
                }
                h4{
                    font-size: 17px;
                    font-weight: 400;
                }
                .coeur{
                    position: absolute;
                        right:10px;
                        top: 15px;
                    img{
                        width: 35px;
                        height: auto;
                        
        
                    }

                }
                
                p{
                    font-size: 15px;

                }
                span{
                    margin-top: 40px;
                    font-size: 14px;

                }
                h5{
                    font-size: 14px;
                    padding-top: 10px;
                    font-weight: 400;

                }
                .inscription{
                    font-size: 14px;
                    position: absolute;
                    right: 15px;
                    bottom: 15px;
                    background-color: rgb(247, 247, 247);
                    color: black;
                    border-radius: 0%;
                    &:hover{
                        background-color: #28a745 !important;
                        color: white;
                        border: 1px solid #28a745;
                    }

                
                }        
            }
        
    }
}