.imgact {
  background-color: bisque;
  height: 50vh;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.imgact img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgact h4 {
  position: absolute;
  background-color: #DB1B0E;
  color: white;
  text-align: center;
  padding: 10px 30px;
  width: 30%;
}

.txtact {
  background-color: #f7f7f7;
  height: 50vh;
  position: relative;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.txtact .coeur {
  position: absolute;
  right: 35px;
  top: 30px;
}

.txtact .coeur img {
  width: 50px;
  height: auto;
}

.txtact p {
  font-size: 22px;
}

.txtact span {
  margin-top: 40px;
  font-size: 22px;
}

.txtact h5 {
  font-size: 22px;
  padding-top: 10px;
  font-weight: 400;
}

.txtact .inscription {
  font-size: 20px;
  position: absolute;
  right: 35px;
  bottom: 30px;
  background-color: #f7f7f7;
  color: black;
  border-radius: 0%;
}

.txtact .inscription:hover {
  background-color: #28a745 !important;
  color: white;
  border: 1px solid #28a745;
}

.card-entier.pedagogique .cartes .card-left h2 {
  background-color: #1393CC;
  color: white;
}

.card-entier.technique .cartes .card-left h2 {
  background-color: #956187;
}

.card-entier.paramedical .cartes .card-left h2 {
  background-color: #DB1B0E;
}

.card-entier.artsappliques .cartes .card-left h2 {
  background-color: #74B626;
}

.card-entier.economiquesocial .cartes .card-left h2 {
  background-color: #F59500;
}

.card-entier .cartes {
  margin-bottom: 15px;
  min-height: 275px;
  margin-right: 0px;
}

.card-entier .cartes .card-left {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  min-height: 250px;
}

.card-entier .cartes .card-left img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-entier .cartes .card-left h2 {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #956187;
  color: white;
  font-size: 15px;
  height: 30px;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  min-width: 170px;
}

.card-entier .cartes .card-right {
  position: relative;
  background-color: #f7f7f7;
  padding: 10px;
}

.card-entier .cartes .card-right h1 {
  font-size: 22px;
}

.card-entier .cartes .card-right h4 {
  font-size: 17px;
  font-weight: 400;
}

.card-entier .cartes .card-right .coeur {
  position: absolute;
  right: 10px;
  top: 15px;
}

.card-entier .cartes .card-right .coeur img {
  width: 35px;
  height: auto;
}

.card-entier .cartes .card-right p {
  font-size: 15px;
}

.card-entier .cartes .card-right span {
  margin-top: 40px;
  font-size: 14px;
}

.card-entier .cartes .card-right h5 {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 400;
}

.card-entier .cartes .card-right .inscription {
  font-size: 14px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #f7f7f7;
  color: black;
  border-radius: 0%;
}

.card-entier .cartes .card-right .inscription:hover {
  background-color: #28a745 !important;
  color: white;
  border: 1px solid #28a745;
}

#screensize {
  width: 200px;
  height: 27px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: blue;
  color: white;
  text-align: center;
}

#screensize:after {
  content: "XL (> 1200px)";
}

@media (max-width: 1199.98px) {
  #screensize {
    background-color: #00d300;
  }
  #screensize:after {
    content: "L (< 1200px) ";
  }
}

@media (max-width: 991.98px) {
  #screensize {
    background-color: orange;
  }
  #screensize:after {
    content: "M (< 992px) ";
  }
}

@media (max-width: 767.98px) {
  #screensize {
    background-color: green;
  }
  #screensize:after {
    content: "S (< 768px) ";
  }
}

@media (max-width: 575.98px) {
  #screensize {
    background-color: cyan;
  }
  #screensize:after {
    content: "XS (< 576px) ";
  }
}
/*# sourceMappingURL=style.css.map */