

.rcampus {
    padding-top: 50px;
    text-align: center;
    

    .bat {
        margin-bottom: 50px;

        img {margin-bottom: 15px;
            width: 150px;
            height:150px;
        }
    }
}

.about {
    padding-top: 100px;
    text-align: center;
    


    p {

        padding-top: 130px
    }
    
}



#illu {

    height: 400px;
    width: auto;
    border-radius: 4px;
}

.campus {

    h3 {
        text-align: center;
        padding-bottom: 30px;
        text-transform: uppercase;
    }
}


