.detconf {

   padding-top: 100px;
   text-align: center;

   img {
    width: 400px;

height: auto;
border-radius: 4px;}

.left {

    padding-top: 30px;
}


    }

.fa-linkedin {color:  rgb(61, 61, 61);
font-size: 40px;
padding-top: 50px;}

    