.detail {
    width: 100%;
    height: 120px;
    margin: 0; 
    margin-top: 20px;
    color:white;
}

.card-img-detail {

    width: 400px;
    height: auto;

    
}

.map {
    margin-top: 50px;
    height: 300px;
}

.card-title-detail {

    margin-top: 20px;
}

.container-fluid {
    margin-top: 80px;
    margin-bottom: 80px;
}

.detail {
    
    height: 200px;
    i{
    margin-top:15px;
    margin-right: 10px;
    font-size:18px;
    }

    .far, .fas {
        font-size: 25px;
    }
}
.detail-activity {
    padding:50px;
    margin-left: 25px;
}


.btn {
    color:white;
    float: right;

    &.artsappliques {
        background-color:$green;
    }
    &.paramedical {
        background-color:$red;
    }
    &.economiquesocial {
        background-color:$orange;
    }
    &.technique {
        background-color:$purple;
    }
    &.pedagogique{
        background-color:$blue;
    }
}



