nav img {
    height: 25px;
    width: auto;
   position: absolute;
   left: 55px;
    margin-top: 5px;
    
}

.bg-light {
    background-color: white!important;
}

.navbar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav-item {

    text-transform: uppercase;
    font-size: 16px;
    padding: 5px;
}


.rightm {position: absolute;
    right: 60px;
}

.righta {position: absolute;
    right: 150px;
}
