@media (max-width: 1199.98px) { 



    .about {
        padding-top: 100px;
        text-align: center;
        
    
    
        p {
    
            padding-top: 130px;
            padding-right: 0
        }
        
    }


    .act {
    .activity {

        margin-left: 0px;
    }}
    
    .detail {
    
        height: 160px; }


    .rightm {position: absolute;
        right: 0;
    }
    
    .righta {position: absolute;
        right: 100px;
    }
    

    .card-img-detail {

        width: 350px;
        height: auto;
    }    

   #screensize {
       
        background-color: rgba(255, 0, 255, 0.13);
       
      

        &:after {
            content:"LG < 1200px";
        }
    }

    .right {
    
    
    
        i{
        margin-top:15px;
        margin-right: 10px;
        font-size: 14px;
        }
    
        .far, .fas {
            font-size: 14px;
        }

        .redheart,.grayheart {
            font-size: 20px;
        }
    }




 }