@media (max-width: 1199.98px) { 



   #screensize {
       
        background-color: rgba(255, 0, 255, 0.13);
       
      

        &:after {
            content:"LG < 1200px";
        }
    }

    .right {
    
    
    
        i{
        margin-top:15px;
        margin-right: 10px;
        font-size:14px;
        }
    
        .far, .fas {
            font-size: 14px;
        }

        .redheart,.grayheart {
            font-size: 20px;
        }
    }




 }