@media (max-width: 1199.98px) { 

    .rightm {position: absolute;
        right: 0;
    }
    
    .righta {position: absolute;
        right: 100px;
    }
    

   #screensize {
       
        background-color: rgba(255, 0, 255, 0.13);
       
      

        &:after {
            content:"LG < 1200px";
        }
    }
 }