@media (max-width: 991.98px) { 


    nav img {
        height: 25px;
        width: auto;
        margin-top: -40px;}

        .rightm {position: relative;
            right: 0;
        }
        
        .righta {position: relative;
            right: 0;
        }
        


   #screensize {
       
        background-color: rgba(0, 128, 0, 0.185);
       
      

        &:after {
            content:"MD < 992px";
        }

    } 
.carre {
    padding:5px;
}
    .right {
    
    
    
        i{
            margin-top:10px;
            
            font-size:10px;
            }
        
            .far, .fas {
                font-size: 14px;
            }
    
            .redheart,.grayheart {
                font-size: 20px;
            }
        
    }



    #illu {

        height: 350px;
        width: auto;
        border-radius: 4px;
    }
    .about {
    padding-top: 70px;
    text-align: center;
    


    p {

        padding-top: 60px;
        margin-left:20px;
    }
    
}


 } 