.profil {
   


h3 {
    text-align: center;
    padding-bottom: 60px;
}

}


.mr-1 {padding-top: 100px;
    padding-bottom: 80px;
    color:  rgb(61, 61, 61);
    padding-right: 10px;
}

.card-body {


.btn {

    color:white;
}

}