#screensize {
    width: 25%;
    height: 30px;
    z-index: 1000;
    position: fixed;
    background-color: blue;
    top:0;
    right: 0;
    text-align: center;
    color:white;
    font-size: 20px;
    
    &:after {
        content:"XL > 1200px";
        
    }
}