@media (max-width: 767.98px) { 


    .about {
        padding-top: 100px;
        text-align: center;
        
    
    
        p {
    
            padding-top: 130px;
            padding-right: 0
        }
        
    }


    .act {
    .activity {

        margin-left: 0px;
    }}

    .card-img-detail {

        width: 350px;
        height: auto;
        margin-left: 0;
    
    }    


    .detail {
    
        height: 130px;}
    
  
    .full-card {
        padding-left: 110px;
    }

    nav img {
        height: 25px;
        width: auto;
        margin-top: -40px;}


        .rightm {position: relative;
            right: 0;
        }
        
        .righta {position: relative;
            right: 0;
        }
        

   #screensize {
       
        background-color: rgba(255, 166, 0, 0.171);
       
      

        &:after {
            content:"SM < 768px";
        }
    }

   

      
        .about {
            padding-top: 70px;
            text-align: center;
            
        
        
            p {
        
                padding-top: 20px;
                margin-left:20px;
            }
            
        }

        






 }