$blue: #1393CC !default;
$purple: #721459 !default;
$red: #DB1B0E !default;
$orange: #F59500 !default;
$green: #74B626 !default;
 
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$indigo: #6610f2 !default;
$pink: #e83e8c !default;

 
