@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
nav img {
  height: 25px;
  width: auto;
  position: absolute;
  left: 0;
  margin-top: 5px;
}

.bg-light {
  background-color: white !important;
}

.navbar {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-item {
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px;
}

body {
  background-color: white;
}

#bienvenue {
  height: 200px;
  width: 100%;
  background-image: url("../img/banniere-home.jpg");
  background-size: cover;
}

#bienvenue h1 {
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  color: white;
}

.carre {
  width: 180px;
  height: 150px;
  margin: auto;
  margin-top: -75px;
  padding: 10px;
}

.carre.artsappliques {
  background-color: #74B626;
}

.carre.paramedical {
  background-color: #DB1B0E;
}

.carre.economiquesocial {
  background-color: #F59500;
}

.carre.technique {
  background-color: #721459;
}

.carre.pedagogique {
  background-color: #1393CC;
}

.carre .icones {
  color: white;
  margin: -15px;
  font-size: 14px;
  padding-left: 18px;
  padding-top: 18px;
}

.carre .fas, .carre .far {
  padding-right: 5px;
}

.full-card {
  margin-bottom: 15px;
  min-height: 200px;
}

.card-img-top {
  height: 200px;
  width: 100%;
}

.nav-cat {
  font-size: 20px;
  margin: 15px 0px;
  text-transform: uppercase;
}

.nav-cat li {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
}

.nav-cat li .mauve {
  color: #721459;
}

.nav-cat li .mauve::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #721459;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .mauve:hover::after {
  width: 100%;
}

.nav-cat li .orange {
  color: #F59500;
}

.nav-cat li .orange::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #F59500;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .orange:hover::after {
  width: 100%;
}

.nav-cat li .bleu {
  color: #1393CC;
}

.nav-cat li .bleu::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #1393CC;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .bleu:hover::after {
  width: 100%;
}

.nav-cat li .black {
  color: black;
}

.nav-cat li .black::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .black:hover::after {
  width: 100%;
}

.nav-cat li .rouge {
  color: #DB1B0E;
}

.nav-cat li .rouge::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #DB1B0E;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .rouge:hover::after {
  width: 100%;
}

.nav-cat li .vert {
  color: #74B626;
}

.nav-cat li .vert::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #74B626;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .vert:hover::after {
  width: 100%;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.redheart {
  color: red;
  padding-left: 230px;
}

.grayheart {
  color: lightgray;
  padding-left: 230px;
}

#screensize {
  width: 25%;
  height: 30px;
  z-index: 1000;
  position: fixed;
  background-color: rgba(0, 0, 255, 0.199);
  top: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 20px;
}

#screensize:after {
  content: "XL > 1200px";
}

@media (max-width: 1199.98px) {
  #screensize {
    background-color: rgba(255, 0, 255, 0.13);
  }
  #screensize:after {
    content: "LG < 1200px";
  }
}

@media (max-width: 991.98px) {
  #screensize {
    background-color: rgba(0, 128, 0, 0.185);
  }
  #screensize:after {
    content: "MD < 992px";
  }
}

@media (max-width: 767.98px) {
  #screensize {
    background-color: rgba(255, 166, 0, 0.171);
  }
  #screensize:after {
    content: "SM < 768px";
  }
}

@media (max-width: 575.98px) {
  #screensize {
    background-color: red;
  }
  #screensize:after {
    content: "XS < 576px";
  }
}

.conferencier .left img {
  width: 100%;
}

#contact {
  margin: auto;
  height: 100px;
  width: 300px;
}

#nom, #prenom {
  width: 46%;
  margin: 5px;
}

#mail, #msg {
  width: 95%;
  margin: 5px;
}

#contact .button {
  float: right;
  margin-right: 10px;
}

button {
  background: black;
  color: white;
  border-style: none;
  padding: 5px 10px;
}

#nom, #prenom, #mail, #msg {
  border: 1px solid;
}

#contact h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
}

.contacta {
  margin-top: 50px;
}

.detail {
  width: 100%;
  height: 120px;
  margin: 0;
  margin-top: 20px;
  color: white;
}

.card-img-detail {
  width: 100%;
  height: auto;
}

.card-title-detail {
  margin-top: 20px;
}

.container-fluid {
  margin-top: 15px;
}

.right i {
  margin-top: 15px;
  margin-right: 10px;
  font-size: 18px;
}

.right .far, .right .fas {
  font-size: 25px;
}

.detail-activity {
  padding: 50px;
  margin-left: 25px;
}

.btn {
  color: white;
  float: right;
}

.btn.artsappliques {
  background-color: #74B626;
}

.btn.paramedical {
  background-color: #DB1B0E;
}

.btn.economiquesocial {
  background-color: #F59500;
}

.btn.technique {
  background-color: #721459;
}

.btn.pedagogique {
  background-color: #1393CC;
}
/*# sourceMappingURL=main.css.map */