@import 'header';
@import 'variablescouleurs';
@import 'home';
@import 'screensize';
@import "LG";
@import "MD";
@import "SM";
@import "XS";

.modal-backdrop.show {
    opacity: 0.75;
}

.redheart {
    color: red;
}

.grayheart {
    color: lightgray;
}