@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
nav img {
  height: 25px;
  width: auto;
  position: absolute;
  left: 55px;
  margin-top: 5px;
}

.bg-light {
  background-color: white !important;
}

.navbar {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-item {
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px;
}

.rightm {
  position: absolute;
  right: 60px;
}

.righta {
  position: absolute;
  right: 150px;
}

body {
  background-color: white;
}

#bienvenue {
  height: 250px;
  width: 100%;
  background-image: url("../img/photo.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#bienvenue h1 {
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
  color: white;
}

.card-body a {
  color: black;
}

.carre {
  width: 180px;
  height: 150px;
  margin: auto;
  margin-top: -75px;
  padding: 10px;
  border-radius: 4px;
}

.carre.artsappliques {
  background-color: #74B626;
}

.carre.paramedical {
  background-color: #DB1B0E;
}

.carre.economiquesocial {
  background-color: #F59500;
}

.carre.technique {
  background-color: #721459;
}

.carre.pedagogique {
  background-color: #1393CC;
}

.carre .icones {
  color: white;
  margin: -15px;
  font-size: 14px;
  padding-left: 18px;
  padding-top: 18px;
}

.carre .fas, .carre .far {
  padding-right: 5px;
}

.full-card {
  margin-bottom: 15px;
  min-height: 200px;
}

.card-img-top {
  height: 200px;
  width: 100%;
}

.nav-cat {
  font-size: 20px;
  margin: 15px 0px;
  text-transform: uppercase;
}

.nav-cat li {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
}

.nav-cat li .mauve {
  color: #721459 !important;
}

.nav-cat li .mauve::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #721459;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .mauve:hover::after {
  width: 100%;
}

.nav-cat li .orange {
  color: #F59500 !important;
}

.nav-cat li .orange::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #F59500;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .orange:hover::after {
  width: 100%;
}

.nav-cat li .bleu {
  color: #1393CC !important;
}

.nav-cat li .bleu::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #1393CC;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .bleu:hover::after {
  width: 100%;
}

.nav-cat li .black {
  color: black !important;
}

.nav-cat li .black::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .black:hover::after {
  width: 100%;
}

.nav-cat li .rouge {
  color: #DB1B0E !important;
}

.nav-cat li .rouge::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #DB1B0E;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .rouge:hover::after {
  width: 100%;
}

.nav-cat li .vert {
  color: #74B626 !important;
}

.nav-cat li .vert::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #74B626;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-cat li .vert:hover::after {
  width: 100%;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.redheart {
  color: red;
  float: right;
}

.grayheart {
  color: lightgray;
  float: right;
}

.container {
  padding-bottom: 100px;
}

.menu {
  padding-bottom: 0;
}

.card {
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
}

.act .activity {
  margin-left: 35px;
}

.redheart, .grayheart {
  font-size: 20px;
}

#screensize {
  width: 25%;
  height: 30px;
  z-index: 1000;
  position: fixed;
  background-color: rgba(0, 0, 255, 0.199);
  top: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 20px;
}

#screensize:after {
  content: "XL > 1200px";
}

.conf {
  padding-top: 100px;
}

.conferencier {
  text-align: center;
}

.conferencier img {
  width: 180px;
  height: auto;
  border-radius: 4px;
}

.conferencier a {
  color: #1f1f1f;
  font-size: 16px;
  text-decoration: none;
}

.rcampus {
  padding-top: 50px;
  text-align: center;
}

.rcampus .bat {
  margin-bottom: 50px;
}

.rcampus .bat img {
  margin-bottom: 15px;
  width: 150px;
  height: 150px;
}

.about {
  padding-top: 100px;
  text-align: center;
}

.about p {
  padding-top: 130px;
  padding-right: 50px;
}

#illu {
  height: 400px;
  width: auto;
  border-radius: 4px;
}

.campus h3 {
  text-align: center;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.contact h3 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
  padding-top: 100px;
}

#nom {
  width: 220px;
  margin-right: 10px;
  padding: 10px;
}

#prenom {
  width: 220px;
  padding: 10px;
}

#email {
  margin-top: 20px;
  width: 455px;
  padding: 10px;
  margin-bottom: 20px;
}

#mess {
  padding: 10px;
}

input, textarea {
  border-radius: 4px;
  border: 0.2px solid gray;
}

form {
  text-align: center;
}

.envoyer {
  background-color: #3d3d3d;
  color: white;
  text-align: center;
  border: none;
  width: 458px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

footer h5 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

footer p {
  text-align: center;
  font-size: 17px;
}

footer a {
  color: #ffffff;
}

footer i {
  margin: 15px;
  color: white;
}

.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #3d3d3d;
  color: white;
}

footer .container {
  padding-top: 40px;
  padding-bottom: 30px;
}

.mod .mr-1 {
  padding: 0;
}

.mod label {
  margin: 0;
  padding: 0;
}

.mod .mb-5 {
  margin: 0 !important;
  padding: 0;
}

.mod .mb-4 {
  padding-top: 10px;
  margin: 0 !important;
}

.mod input {
  width: 300px;
}

.mod .btn {
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: #3d3d3d;
  border: none;
  padding: 12px;
  font-size: 14px;
  text-transform: uppercase;
}

.mod .form {
  text-align: center;
}

.mod .form-control {
  margin: auto;
}

.mod a {
  color: #3d3d3d;
}

.detail {
  width: 100%;
  height: 120px;
  margin: 0;
  margin-top: 20px;
  color: white;
}

.card-img-detail {
  width: 400px;
  height: auto;
}

.map {
  margin-top: 50px;
  height: 300px;
}

.card-title-detail {
  margin-top: 20px;
}

.container-fluid {
  margin-top: 80px;
  margin-bottom: 80px;
}

.detail {
  height: 200px;
}

.detail i {
  margin-top: 15px;
  margin-right: 10px;
  font-size: 18px;
}

.detail .far, .detail .fas {
  font-size: 25px;
}

.detail-activity {
  padding: 50px;
  margin-left: 25px;
}

.btn {
  color: white;
  float: right;
}

.btn.artsappliques {
  background-color: #74B626;
}

.btn.paramedical {
  background-color: #DB1B0E;
}

.btn.economiquesocial {
  background-color: #F59500;
}

.btn.technique {
  background-color: #721459;
}

.btn.pedagogique {
  background-color: #1393CC;
}

.profil h3 {
  text-align: center;
  padding-bottom: 60px;
}

.mr-1 {
  padding-top: 100px;
  padding-bottom: 80px;
  color: #3d3d3d;
  padding-right: 10px;
}

.card-body .btn {
  color: white;
}

.detconf {
  padding-top: 100px;
  text-align: center;
}

.detconf img {
  width: 400px;
  height: auto;
  border-radius: 4px;
}

.detconf .left {
  padding-top: 30px;
}

.fa-linkedin {
  color: #3d3d3d;
  font-size: 40px;
  padding-top: 50px;
}

@media (max-width: 1199.98px) {
  .about {
    padding-top: 100px;
    text-align: center;
  }
  .about p {
    padding-top: 130px;
    padding-right: 0;
  }
  .act .activity {
    margin-left: 0px;
  }
  .detail {
    height: 160px;
  }
  .rightm {
    position: absolute;
    right: 0;
  }
  .righta {
    position: absolute;
    right: 100px;
  }
  .card-img-detail {
    width: 350px;
    height: auto;
  }
  #screensize {
    background-color: rgba(255, 0, 255, 0.13);
  }
  #screensize:after {
    content: "LG < 1200px";
  }
  .right i {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 14px;
  }
  .right .far, .right .fas {
    font-size: 14px;
  }
  .right .redheart, .right .grayheart {
    font-size: 20px;
  }
}

@media (max-width: 991.98px) {
  .about {
    padding-top: 100px;
    text-align: center;
  }
  .about p {
    padding-top: 130px;
    padding-right: 0;
  }
  .act .activity {
    margin-left: 0px;
  }
  .full-card {
    padding-left: 30px;
  }
  .card-img-detail {
    width: 350px;
    height: auto;
    margin-left: 70px;
  }
  .detail {
    height: 130px;
  }
  nav img {
    height: 25px;
    width: auto;
    margin-top: -40px;
  }
  .rightm {
    position: relative;
    right: 0;
  }
  .righta {
    position: relative;
    right: 0;
  }
  #screensize {
    background-color: rgba(0, 128, 0, 0.185);
  }
  #screensize:after {
    content: "MD < 992px";
  }
  .carre {
    padding: 5px;
  }
  .right i {
    margin-top: 10px;
    font-size: 10px;
  }
  .right .far, .right .fas {
    font-size: 14px;
  }
  .right .redheart, .right .grayheart {
    font-size: 20px;
  }
  #illu {
    height: 350px;
    width: auto;
    border-radius: 4px;
  }
  .about {
    padding-top: 70px;
    text-align: center;
  }
  .about p {
    padding-top: 60px;
    margin-left: 20px;
  }
}

@media (max-width: 767.98px) {
  .about {
    padding-top: 100px;
    text-align: center;
  }
  .about p {
    padding-top: 130px;
    padding-right: 0;
  }
  .act .activity {
    margin-left: 0px;
  }
  .card-img-detail {
    width: 350px;
    height: auto;
    margin-left: 0;
  }
  .detail {
    height: 130px;
  }
  .full-card {
    padding-left: 110px;
  }
  nav img {
    height: 25px;
    width: auto;
    margin-top: -40px;
  }
  .rightm {
    position: relative;
    right: 0;
  }
  .righta {
    position: relative;
    right: 0;
  }
  #screensize {
    background-color: rgba(255, 166, 0, 0.171);
  }
  #screensize:after {
    content: "SM < 768px";
  }
  .about {
    padding-top: 70px;
    text-align: center;
  }
  .about p {
    padding-top: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 575.98px) {
  .about {
    padding-top: 100px;
    text-align: center;
  }
  .about p {
    padding-top: 130px;
    padding-right: 0;
  }
  .act .activity {
    margin-left: 0px;
  }
  .card-img-detail {
    width: 300px;
    height: auto;
    margin-left: 0;
  }
  h6 {
    font-size: 13px;
  }
  .full-card {
    padding-left: 80px;
  }
  #nom {
    width: 220px;
    margin-right: 8px;
    padding: 10px;
  }
  nav img {
    height: 25px;
    width: auto;
    margin-top: -40px;
  }
  .rightm {
    position: relative;
    right: 0;
  }
  .righta {
    position: relative;
    right: 0;
  }
  #screensize {
    background-color: red;
  }
  #screensize:after {
    content: "XS < 576px";
  }
}


/*# sourceMappingURL=main.css.map */

