#navbar-footer{
    background-color: rgb(56, 0, 56);
    padding:2rem;
    width: 100%;
    bottom:0;
    margin-top:80px;
    }

.heff-footer{
    color:white;
    margin-left: 80%;
}

.nav-link-footer{
    color:white;
    
}

a:hover {
    color: rgb(128, 126, 126);
    text-decoration:underline
}