#navbar-footer{
    background-color: rgb(56, 0, 56);
    padding:2rem;
    width: 100%;
    bottom:0;
    margin-top:80px;
    }

.heff-footer{
    color:white;
    margin-left: 80%;
}

.nav-link-footer{
    color:white;
    
}

a:hover {
    color: rgb(128, 126, 126);
    text-decoration:underline
}


// ---------------------------- MODAL---------------------------

.modal-title{
    font-family: 'Montserrat', sans-serif;
    color: #a781ff;
    padding-bottom: 5px;
}
h6{
    font-family: 'Montserrat', sans-serif;
}

.modal-header{
    display: inline;
}
label,input{
    font-family: 'Montserrat', sans-serif;}

    label{
        font-weight: 500;
    }

 .btn-success:hover{
    background-color: rgb(56, 0, 56);
    border-color: rgb(56, 0, 56);
   
}
.btn-success{
    background-color: rgba(56, 0, 56, 0.7);
    border-color: rgba(56, 0, 56, 0.7);
   
}