.menu{
    padding:2rem;
}

.heff_logo{
    margin-bottom: 15px;
    margin-right: 20px;
}

.container_home{
    position: relative;
}
.image_home{
    width: 100%;
   
}

.info_home{
    position:absolute;
    z-index:2;
    margin-top: -190px;
    margin-left: 50px;
}

.heff_titre{
    color:white;
    font-family: 'Montserrat', sans-serif;
}

#btn_info_home{
    background-color: #a781ff;
    color:white;
    border-radius: 20px;
    padding:8px;

}

.plus-info{
  font-family: 'Montserrat', sans-serif;

}

a:hover{
  text-decoration: none;
}




.nav-link-even{
    color:black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

.h1_home{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.menu_even{
    margin-bottom: 30px;
}

.h1_nom_even{
  margin-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


/*********************************************************    CARTES ACTI    *******************************************/
.card-entier {
    border: 1px gray;
    margin-bottom: 15px;
    min-height: 275px;
  }
  .category-name-color{
    text-align: right;
    padding-top: 2rem;
  }

  .card-entier.technique .category-name-color {
    
    color: #956187;
  }
  
  .card-entier.arts-appliques .category-name-color {
    
    color: #74B626;
  }
  
  .card-entier.economiquesocial .category-name-color {
    
    color: #F59500;
  }
  
  .card-entier.pedagogique .category-name-color {
    
    color: #1393CC;
  }
  
  .card-entier.paramedical .category-name-color {
    
    color: #DB1B0E;
  }
  
  .card-entier .cartes .card-img-top {
    padding-right: 0;
    padding-left: 0;
    min-height: 250px;
    position: relative;
    margin-bottom: 1rem;
  }
  
  .card-entier .cartes .card-img-top img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .card-entier .cartes .card-right .coeur {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .card-entier .cartes .card-right .inscription {
    font-size: 14px;
    position: absolute;
    background-color: #f7f7f7;
    color: black;
    border-radius: 0%;
  }
  
  .card-entier .cartes .card-right .inscription:hover {
    background-color: #28a745 !important;
    color: white;
    border: 1px solid #28a745;
  }

  .cartes{
      margin-right: 1px;
      margin-left: 1px;
  }

  .coeur{
    position: absolute;
    right:10px;
    top: 10px;
img{
    width: 20px;
    height: auto;

}
}

h3{
  color:#a781ff;
  font-size: 15px;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
h4{
  a{
    color:black;
  }
  a:hover{
    
    text-decoration: none;
  }
}

/*********************************************************    DETAILS EVEN    *******************************************/

.coeur-details-even{
    position: absolute;
    right:10px;
    top: 10px;
img{
    width: 40px;
    height: auto;

}
}

.img-details-even{
    display: block;
    width: 100%;
    height: 200px;
}


.contenantboutoninscription{
    margin-top: 2rem;
    text-align: end;

}