//----------------------------------PROFIL -------------------------------------->
h4{
    color:#a781ff;
}

h5{
    margin-bottom: 10px;
    margin-top: 10px;
}

.favoris-profil{
    right: 10px;
    left: 10px;
}

.contenantboutoninscription {
    margin-top: 2rem;
    text-align: start;
}
