/* Small devices (landscape phones, 576px and up)*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (min-width: 0px) {
  #resolution {
    background-color: #b37b3c;
  }
  #resolution::after {
    content: "Small devices (landscape phones, 576px and up)";
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #resolution {
    background-color: #f18ebc;
  }
  #resolution::after {
    content: "Small devices ahah (landscape phones, 576px and up)";
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #resolution {
    background-color: #787af7;
  }
  #resolution::after {
    content: "Medium devices (tablets, 768px and up)";
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #resolution {
    background-color: #f52d8a;
  }
  #resolution::after {
    content: "Large devices (desktops, 992px and up)";
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #resolution {
    background-color: #e049e0;
  }
  #resolution::after {
    content: "Extra large devices (large desktops, 1200px and up)";
  }
}

#navbar-footer {
  background-color: #380038;
  padding: 2rem;
  width: 100%;
  bottom: 0;
  margin-top: 80px;
}

.heff-footer {
  color: white;
  margin-left: 80%;
}

.nav-link-footer {
  color: white;
}

a:hover {
  color: #807e7e;
  text-decoration: underline;
}

.modal-title {
  font-family: 'Montserrat', sans-serif;
  color: #a781ff;
  padding-bottom: 5px;
}

h6 {
  font-family: 'Montserrat', sans-serif;
}

.modal-header {
  display: inline;
}

label, input {
  font-family: 'Montserrat', sans-serif;
}

label {
  font-weight: 500;
}

.btn-success:hover {
  background-color: #380038;
  border-color: #380038;
}

.btn-success {
  background-color: rgba(56, 0, 56, 0.7);
  border-color: rgba(56, 0, 56, 0.7);
}

.menu {
  padding: 2rem;
}

.heff_logo {
  margin-bottom: 15px;
  margin-right: 20px;
}

.container_home {
  position: relative;
}

.image_home {
  width: 100%;
}

.info_home {
  position: absolute;
  z-index: 2;
  margin-top: -190px;
  margin-left: 50px;
}

.heff_titre {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#btn_info_home {
  background-color: #a781ff;
  color: white;
  border-radius: 20px;
  padding: 8px;
}

.plus-info {
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  text-decoration: none;
}

.nav-link-even {
  color: black;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.h1_home {
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.menu_even {
  margin-bottom: 30px;
}

.h1_nom_even {
  margin-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/*********************************************************    CARTES ACTI    *******************************************/
.card {
  -webkit-box-shadow: 1px 1px 12px #555;
          box-shadow: 1px 1px 12px #555;
}

.card-entier {
  border: 1px gray;
  margin-bottom: 15px;
  min-height: 275px;
}

.category-name-color {
  padding-top: 10px;
}

.card-entier.technique .category-name-color {
  color: #956187;
}

.card-entier.arts-appliques .category-name-color {
  color: #74B626;
}

.card-entier.economiquesocial .category-name-color {
  color: #F59500;
}

.card-entier.pedagogique .category-name-color {
  color: #1393CC;
}

.card-entier.paramedical .category-name-color {
  color: #DB1B0E;
}

.card-entier .cartes .card-img-top {
  padding-right: 0;
  padding-left: 0;
  min-height: 250px;
  position: relative;
  margin-bottom: 1rem;
}

.card-entier .cartes .card-img-top img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
}

.card-entier .cartes .card-right .coeur {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-entier .cartes .card-right .inscription {
  font-size: 14px;
  position: absolute;
  background-color: #f7f7f7;
  color: black;
  border-radius: 0%;
}

.card-entier .cartes .card-right .inscription:hover {
  background-color: #28a745 !important;
  color: white;
  border: 1px solid #28a745;
}

.cartes {
  margin-right: 1px;
  margin-left: 1px;
}

.coeur {
  position: absolute;
  right: 10px;
  top: 10px;
}

.coeur img {
  width: 20px;
  height: auto;
}

h3 {
  color: #a781ff;
  font-size: 20px;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h4 a {
  color: black;
}

h4 a:hover {
  text-decoration: none;
}

h5 {
  margin-top: 15px;
}

/*********************************************************    DETAILS EVEN    *******************************************/
.coeur-details-even {
  position: absolute;
  right: 10px;
  top: 10px;
}

.coeur-details-even img {
  width: 40px;
  height: auto;
}

.img-details-even {
  display: block;
  width: 100%;
  height: 200px;
}

.contenantboutoninscription {
  margin-top: 2rem;
  text-align: end;
}

h4 {
  color: #a781ff;
}

h5 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.favoris-profil {
  right: 10px;
  left: 10px;
}

.contenantboutoninscription {
  margin-top: 2rem;
  text-align: start;
}

/* Set the size of the div element that contains the map */
#map {
  height: 60vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

img[src="img/visit.png"] {
  width: 40px !important;
  height: auto !important;
}

.bg-white {
  display: block;
  color: white;
}

a.navbar-brand {
  background-color: white;
}

a.navbar-brand img {
  height: 50px;
  width: auto;
}

h1 {
  color: #a781ff;
}
/*# sourceMappingURL=style.css.map */