<<<<<<< HEAD
=======

>>>>>>> cdc07a7eb0e4539ff33cb234728977a3fef0363b
@import '_XS.scss';
@import '_SM.scss';
@import '_MD.scss';
@import '_ML.scss';
@import '_XL.scss';
<<<<<<< HEAD
<<<<<<< HEAD
@import '_eden.scss';

=======
@import '_camille.scss';
>>>>>>> dedd0bec95951527b535b0202aaab13abe599169
=======
@import '_index.scss';
<<<<<<< HEAD


>>>>>>> edenmaestro


body{
    background-color: red;
}
=======
@import '_footer.scss';


>>>>>>> cdc07a7eb0e4539ff33cb234728977a3fef0363b

.bg-white{
    
    display: block;
    color: white;
}

a.navbar-brand{
    background-color: white;

}

a.navbar-brand img{
    height: 50px;
    width: auto;
}

h1{
    color: rgb(167, 129, 255);
}