
@import '_XS.scss';
@import '_SM.scss';
@import '_MD.scss';
@import '_ML.scss';
@import '_XL.scss';
@import '_camille.scss';



.bg-white{
    
    display: block;
    color: white;
}

a.navbar-brand{
    background-color: white;

}

a.navbar-brand img{
    height: 50px;
    width: auto;
}

h1{
    color: rgb(167, 129, 255);
}