body{
    background-color: red;
}

.bg-white{
    height: 400px;
}

a.navbar-brand{
    background-color: white;

}

a.navbar-brand img{
    height: 50px;
    width: auto;
}

h1{
    background-color: royalblue;
}